.header {
    background-image: url(../../assets/images/header_image.jpg) center top no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100;
    height: 80%;
    background-color: #8a2b06;
    color: white;
    display: flex;
    justify-content: space-between;
}

.header > img {
    height: 92%;
    overflow: hidden;
     width: 150%;
    height: 95%;
    object-fit: cover;
    transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}